.navbar-logo {
    width: 50px;
    height: auto;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .navbar {
    background-color: #052b5b;
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand,
  .navbar-toggler {
    color: #ff9100;
  }
  
  .navbar .nav-link:hover {
    color: white;
  }
  
  h2 {
    font-weight: bold;
    color: #003366;
  }
  
  .card-title {
    color: #003366;
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
  }
  
  .card a.btn {
    background-color: #003366;
    border: none;
  }
  
  .card a.btn:hover {
    background-color: #002244;
  }
  
  footer {
    background-color: gray;
    color: beige;
    text-align: center;
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-inner img {
  height: auto;
  object-fit: cover;
}
  @media (max-width: 768px) {
    .carousel-inner img {
      height: 300px;
    }
  }

  .card-altura img {
    width: auto;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }